.menu {
  height: 100%;
  margin-top: 0;
  display: flex;
  font-size: .9rem;
  justify-content: space-around;

  .menu-list {
    display: flex;
    flex: 0 1 auto;
    height: 100%;

    .menu-list-item {
      display: flex;
      position: relative;
      align-items: center;
      padding: 0 1.2rem;
      text-decoration: none;
      border-right: 1px solid #eee;
      color: #999;

      &.first {
        border-left: 1px solid #eee;
      }

      &.active {
        &:after {
          display: block;
          content: '';
          bottom: 0;
          left: 0;
          right: 0;
          height: 5px;
          position: absolute;
          background-color: #3e94e4;
        }
      }
    }
  }
}




