.header {
  padding: 1em;

}

.title {
  color: #808f97;
  font-weight: 700;
  text-transform: uppercase;
}

.content {
  padding: 1em;
}

.footer {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25em 1.25em;
}
