.section {

  margin-bottom: 2rem;

  h3 {
    font-family: 'Montserrat', 'sans-serif';
    text-transform: uppercase;
  }

  span {
    font-family: 'Roboto', 'sans-serif';
    color: rgba(0, 0, 0, 0.7);
  }

}
