.photo-rounded {
  width: 200px;
  height: 200px;
  background-image: url('../../../assets/131682.jpg');
  background-size: cover;
  display: flex;
  align-self: center;
  border-radius: 50%;
  box-shadow: -1px 7px 40px -8px rgba(0, 0, 0, 0.75);
}
